/* PortfolioPage.css */
body {
    font-family: 'Pretendard', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
  }
  
  .portfolio-page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .section {
    margin-bottom: 40px;
  }
  
  .process-title {
    text-align: left; /* 텍스트 왼쪽 정렬 */
    font-size: 1.8rem;
    font-weight: 700;
    color: #2c3e50;
    margin-bottom: 10px;
    border-bottom: 2px solid #2c3e50;
    padding-bottom: 5px;
    
  }
  
  .list-item {
    text-align: left; /* 텍스트 왼쪽 정렬 */
    margin-left: 20px;
    line-height: 1.6;
    font-size: 1rem;
    color: #555;
  }
  
  a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
  }
  
  a:hover {
    color: #1d6fa5;
  }
  
  .cards-section {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .card {
    display: block;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: calc(33.333% - 20px);
    text-decoration: none;
    color: inherit;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .card h3 {
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .card p {
    font-size: 0.9rem;
    color: #777;
  }
  
  .video-background {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 40px;
  }
  
  .video-background video {
    width: 100%;
    border-radius: 10px;
    display: block;
  }
  
  .header-image img {
    width: 100%;
    border-radius: 10px;
  }
  
  .section-content {
    margin-left: 20px;
    font-size: 1rem;
    color: #555;
  }
  
  .section p {
    margin-bottom: 10px;
  }
  
  @media (max-width: 768px) {
    .portfolio-page {
      padding: 10px;
    }
  
    .card {
      width: calc(50% - 10px);
    }
  }
  
  @media (max-width: 480px) {
    .card {
      width: 100%;
    }
  }
  
  /* PortfolioPage.css */

/* Hosting Page 관련 스타일 */
.hosting-page {
  background-color: #f9fafb; /* 연한 회색 배경 */
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
  font-family: 'Pretendard', sans-serif;
}

.hosting-page a {
  color: #3498db; /* 파란색 링크 */
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
}

.hosting-page a:hover {
  color: #1d6fa5; /* 호버 시 짙은 파란색으로 변경 */
}

.hosting-page p {
  font-size: 1.5rem;
  color: #555; /* 연한 회색 글씨 */
  margin-top: 10px;
}

.hosting-page a:focus {
  outline: none; /* 포커스 시 기본 outline 제거 */
}

.hosting-page h1 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #2c3e50;
  margin-bottom: 15px;
  border-bottom: 2px solid #2c3e50;
  padding-bottom: 5px;
}
